@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@400;500;600;700&family=Barlow:wght@300;400;500;600&family=JetBrains+Mono:wght@300;400;500&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    scroll-behavior: smooth;
  }
  
  body {
    @apply bg-bg text-text antialiased;
    font-family: 'Barlow', sans-serif;
  }

  ::selection {
    @apply bg-accent text-white;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

::-webkit-scrollbar { 
  width: 2px; 
}
::-webkit-scrollbar-track { 
  @apply bg-bg;
}
::-webkit-scrollbar-thumb { 
  @apply bg-accent;
}